In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import json

In [4]:
import time

In [5]:
from pandas.io.json import json_normalize

In [6]:
import requests

In [9]:
def get_data_from_vipunen(resource, fiql = ''):
    try:
        if len(fiql) > 0 :
            url = 'http://api.vipunen.fi/api/resources/' + resource + '/data?filter=' + fiql
        else:
            url = 'http://api.vipunen.fi/api/resources/' + resource + '/data'
        return requests.get(url, json={
            "Accept": "application/json;charset=UTF-8"
        })
    except Exception as e:
        raise e

In [28]:
resp = get_data_from_vipunen('tavoiteajassa_tutkinnon_suorittaneet', 'tilastovuosi>2009 and sektori==Yliopistokoulutus')

In [29]:
resp

In [37]:
resp_json = json.loads(resp.text)

In [39]:
df = pd.DataFrame(resp_json)

In [40]:
df.head()

,tilastovuosi,sektori,korkeakoulu,koulutus,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,tutkintopisteet,...,koulutusalaTaso2,koulutusalaTaso3,okmOhjauksenAla,rahoitusmallialaAmk2017-2020,rahoitusmallialaAmk2021-2024,rahoitusmallialaYo2017-2020,rahoitusmallialaYo2021-2024,koodiSektori,koodiKorkeakoulu,koodiKoulutus
0,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatustieteiden kandidaatti (alempi), lasten...",126,46,33,47,21,151.13,...,Kasvatusalat,Varhaiskasvatuksen opettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612101
1,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), luokanopettaja (ei ...",131,19,38,74,14,146.74,...,Kasvatusalat,Luokanopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612102
2,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), kotitalousopettaja ...",31,2,7,22,3,33.05,...,Kasvatusalat,Aineenopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612104
3,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), käsityönopettaja (e...",26,2,9,15,4,28.32,...,Kasvatusalat,Aineenopettajien koulutus,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612105
4,2015,Yliopistokoulutus,Helsingin yliopisto,"Kasvatust. kand. (alempi), kasvatustiede",71,19,19,33,8,83.50,...,Kasvatusalat,Kasvatustieteet,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612201

In [41]:
df = df.drop(columns=['sektori', 'tutkintopisteet', 'koulutusalaTaso2', 'koulutusalaTaso3', 'okmOhjauksenAla'])

In [42]:
df

,tilastovuosi,korkeakoulu,koulutus,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koulutusasteTaso2,koulutusalaTaso1,rahoitusmallialaAmk2017-2020,rahoitusmallialaAmk2021-2024,rahoitusmallialaYo2017-2020,rahoitusmallialaYo2021-2024,koodiSektori,koodiKorkeakoulu,koodiKoulutus
0,2015,Helsingin yliopisto,"Kasvatustieteiden kandidaatti (alempi), lasten...",126,46,33,47,21,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612101
1,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), luokanopettaja (ei ...",131,19,38,74,14,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612102
2,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), kotitalousopettaja ...",31,2,7,22,3,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612104
3,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), käsityönopettaja (e...",26,2,9,15,4,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612105
4,2015,Helsingin yliopisto,"Kasvatust. kand. (alempi), kasvatustiede",71,19,19,33,8,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,"Kasvatusalat, taiteet ja kulttuurialat ja yhte...","Kasvatusalat, taiteet ja kulttuurialat ja yhte...",Kasvatusalat,Kasvatusalat,5,01901,612201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,2020,Itä-Suomen yliopisto,"Maat. ja metsät. maist., metsätalous",4,0,4,0,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Maa- ja metsätalousalat,"Luonnontieteet, tietojenkäsittely ja tietoliik...","Luonnontieteet, tietojenkäsittely ja tietoliik...",Maatalous- ja metsätieteelliset alat,Luonnontieteet sekä maatalous- ja metsätieteel...,5,10088,762202
4107,2020,Itä-Suomen yliopisto,Lääketieteen lisensiaatti,4,0,2,2,1,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,"Humanistiset alat, lääketieteet ja terveys- ja...","Humanistiset alat, lääketieteet ja terveys- ja...",Lääketiede,Lääketiede ja hammaslääketiede,5,10088,772101
4108,2020,Itä-Suomen yliopisto,Hammaslääketieteen lisensiaatti,10,4,6,0,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,"Humanistiset alat, lääketieteet ja terveys- ja...","Humanistiset alat, lääketieteet ja terveys- ja...",Hammaslääketiede,Lääketiede ja hammaslääketiede,5,10088,772201
4109,2020,Itä-Suomen yliopisto,Proviisori,8,3,2,3,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,"Humanistiset alat, lääketieteet ja terveys- ja...","Humanistiset alat, lääketieteet ja terveys- ja...",Terveys- ja hyvinvointialat,Terveys- ja hyvinvointialat sekä palvelualat,5,10088,772401
4110,2020,Itä-Suomen yliopisto,"Terveystieteiden maisteri, terveydenhuollon ka...",19,7,6,6,3,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,"Humanistiset alat, lääketieteet ja terveys- ja...","Humanistiset alat, lääketieteet ja terveys- ja...",Terveys- ja hyvinvointialat,Terveys- ja hyvinvointialat sekä palvelualat,5,10088,772501

In [43]:
df = df.drop(columns=['koulutus', 'koodiKoulutus', 'rahoitusmallialaYo2021-2024', 'rahoitusmallialaYo2017-2020', 'rahoitusmallialaAmk2021-2024', 'rahoitusmallialaAmk2017-2020'])

In [44]:
df

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koulutusasteTaso2,koulutusalaTaso1,koodiSektori,koodiKorkeakoulu
0,2015,Helsingin yliopisto,126,46,33,47,21,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
1,2015,Helsingin yliopisto,131,19,38,74,14,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
2,2015,Helsingin yliopisto,31,2,7,22,3,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
3,2015,Helsingin yliopisto,26,2,9,15,4,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
4,2015,Helsingin yliopisto,71,19,19,33,8,Alempi korkeakouluaste,Alempi korkeakoulututkinto,Kasvatusalat,5,01901
...,...,...,...,...,...,...,...,...,...,...,...,...
4106,2020,Itä-Suomen yliopisto,4,0,4,0,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Maa- ja metsätalousalat,5,10088
4107,2020,Itä-Suomen yliopisto,4,0,2,2,1,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,5,10088
4108,2020,Itä-Suomen yliopisto,10,4,6,0,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,5,10088
4109,2020,Itä-Suomen yliopisto,8,3,2,3,0,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,5,10088
4110,2020,Itä-Suomen yliopisto,19,7,6,6,3,Ylempi korkeakouluaste,Ylempi korkeakoulututkinto,Terveys- ja hyvinvointialat,5,10088

In [45]:
df = df.drop(columns = ['koulutusasteTaso2', 'koulutusalaTaso1', 'koodiSektori'])

In [46]:
df

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koodiKorkeakoulu
0,2015,Helsingin yliopisto,126,46,33,47,21,Alempi korkeakouluaste,01901
1,2015,Helsingin yliopisto,131,19,38,74,14,Alempi korkeakouluaste,01901
2,2015,Helsingin yliopisto,31,2,7,22,3,Alempi korkeakouluaste,01901
3,2015,Helsingin yliopisto,26,2,9,15,4,Alempi korkeakouluaste,01901
4,2015,Helsingin yliopisto,71,19,19,33,8,Alempi korkeakouluaste,01901
...,...,...,...,...,...,...,...,...,...
4106,2020,Itä-Suomen yliopisto,4,0,4,0,0,Ylempi korkeakouluaste,10088
4107,2020,Itä-Suomen yliopisto,4,0,2,2,1,Ylempi korkeakouluaste,10088
4108,2020,Itä-Suomen yliopisto,10,4,6,0,0,Ylempi korkeakouluaste,10088
4109,2020,Itä-Suomen yliopisto,8,3,2,3,0,Ylempi korkeakouluaste,10088
4110,2020,Itä-Suomen yliopisto,19,7,6,6,3,Ylempi korkeakouluaste,10088

In [51]:
df['tilastovuosi'] != 2020

0        True
1        True
2        True
3        True
4        True
        ...
4106    False
4107    False
4108    False
4109    False
4110    False
Name: tilastovuosi, Length: 4111, dtype: bool

In [52]:
df = df[df['tilastovuosi'] != 2020]

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koodiKorkeakoulu
0,2015,Helsingin yliopisto,126,46,33,47,21,Alempi korkeakouluaste,01901
1,2015,Helsingin yliopisto,131,19,38,74,14,Alempi korkeakouluaste,01901
2,2015,Helsingin yliopisto,31,2,7,22,3,Alempi korkeakouluaste,01901
3,2015,Helsingin yliopisto,26,2,9,15,4,Alempi korkeakouluaste,01901
4,2015,Helsingin yliopisto,71,19,19,33,8,Alempi korkeakouluaste,01901
...,...,...,...,...,...,...,...,...,...
3841,2019,Tampereen yliopisto,77,17,27,33,2,Ylempi korkeakouluaste,10122
3842,2019,Tampereen yliopisto,115,21,38,56,2,Ylempi korkeakouluaste,10122
3843,2019,Tampereen yliopisto,43,6,15,22,2,Ylempi korkeakouluaste,10122
3844,2019,Tampereen yliopisto,112,94,13,5,7,Ylempi korkeakouluaste,10122
3845,2019,Tampereen yliopisto,63,40,11,12,6,Ylempi korkeakouluaste,10122

In [54]:
df.sort_values(by=['tilastovuosi', 'korkeakoulu'])

,tilastovuosi,korkeakoulu,tutkinnot,tavoiteajassa,tavoiteaikaYlitettyKorkeintaan12Kk,tavoiteaikaYlitettyYli12Kk,onAiempiKorkeakoulututkinto,koulutusasteTaso1,koodiKorkeakoulu
439,2015,Aalto-yliopisto,120,21,38,61,20,Alempi korkeakouluaste,10076
440,2015,Aalto-yliopisto,334,122,118,94,12,Alempi korkeakouluaste,10076
441,2015,Aalto-yliopisto,36,6,16,14,4,Alempi korkeakouluaste,10076
442,2015,Aalto-yliopisto,33,8,12,13,0,Alempi korkeakouluaste,10076
443,2015,Aalto-yliopisto,161,20,35,106,0,Alempi korkeakouluaste,10076
...,...,...,...,...,...,...,...,...,...
3295,2019,Åbo Akademi,10,1,5,4,0,Ylempi korkeakouluaste,01903
3296,2019,Åbo Akademi,10,3,2,5,0,Ylempi korkeakouluaste,01903
3297,2019,Åbo Akademi,20,4,4,12,0,Ylempi korkeakouluaste,01903
3298,2019,Åbo Akademi,28,8,12,8,0,Ylempi korkeakouluaste,01903
3299,2019,Åbo Akademi,14,8,2,4,0,Ylempi korkeakouluaste,01903

In [62]:
df[(df['tilastovuosi'] == 2015) & (df['korkeakoulu'] == 'Helsingin yliopisto')]['tutkinnot'].sum()

5516

In [64]:
df = df.groupby(['tilastovuosi', 'korkeakoulu']).sum()

In [71]:
df.to_csv('tavoiteaika_data.csv',index=True)